npm-debug.log
node_modules
.vscode
package-lock.json
/demo/start_server-dev.sh
/demo/middleware-client-dev.js
/demo/api-client-dev.js
/log
/toolchain/service_client_for_java/wechat_client_for_java.json